@font-face{
    src:url(Font/Apex/Apex-Mk3-ExtraLight.ttf);
    font-family:font1;
    
}

@font-face{
    src:url(Font/Apex/ApexMk3-Medium.ttf);
    font-family:font2;
    
}

@font-face{
    src:url(Font/bebas_neue/BebasNeue-Regular.ttf);
    font-family:font3;
    
}

*{
    padding:0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    max-height: 80%;
}

nav{
    background-color: #16222e;
    height: 85px;
    width: 55%;
}

nav ul{
    float: right;
    margin-right: 20px;
    font-family: font2;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
    color: aliceblue;
}

nav ul li a{
    color: white;
}

body {
    background-color:#e0e9f4 ;
}
body {
    background-color:#e0e9f4 ;
}

.link ul li{
    display: inline-block;
    
}

.link ul li a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
    font-size: 35px;
    font-family: font2;
}
.link ul{
    margin-left: 50px;
    margin-top:10px;
}
h2 {
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: font2;
}

.container{
    display:flex;
    margin-top: 300px;
    margin-left: 300px;
    
}