@font-face{
    src:url(Font/Apex/Apex-Mk3-ExtraLight.ttf);
    font-family:font1;
    
}

@font-face{
    src:url(Font/Apex/ApexMk3-Medium.ttf);
    font-family:font2;
    
}

@font-face{
    src:url(Font/bebas_neue/BebasNeue-Regular.ttf);
    font-family:font3;
    
}

*{
    padding:0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    max-height: 80%;
}
a.En{
    font-size:30px;
    margin-right: 20px;
    color: black;
}

a.Cn{
    font-size:30px;
    color: black;
    margin-right: 20px;
}

a.Jn{
    font-size:30px;
    margin-right: 20px;
    color: black;
}


nav{
    background-color: #16222e;
    height: 85px;
    width: 55%;
}

nav ul{
    float: right;
    margin-right: 20px;
    font-family: font2;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
    color: aliceblue;
}

nav ul li a{
    color: white;
}

body {
    background-color:#e0e9f4 ;
}

h2{
    color: black;
    margin-left: 45px;
    line-height: 150px;
    font-size: 80px;
    font-weight: bold;
    font-family: font3;
}

.text{
    max-width: 50%;
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: font3;
    margin-top: 35px;
    
}
.img{
    float: right;
    width: 540px;
    height: 740px;
    
}
